/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
.byebug_history
/config/master.key
/public/uploads
/coverage/assets/
/coverage/index.html
/coverage/.resultset.json
/coverage/.resultset.json.lock
